[submodule "esp_video_components"]
	path = src/esp_video_components
	url = https://github.com/espressif/esp-video-components.git

[submodule "cdnet_bl"]
	path = src/bootloader_components/cd_boot_hooks/cdnet
	url = ../cdnet

[submodule "cdnet_main"]
	path = src/main/cdnet
	url = ../cdnet

